.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.padd-15 {
  padding: 15px;
}

.marg-l-5 {
  margin-left: 5px;
}

.marg-t-14 {
  margin-top: 14px;
}

.marg-b-14 {
  margin-bottom: 14px;
}
