body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: rgba(51, 51, 51, 0.77);
  background-color: #fff;
}

/* TABLE */
.table {
  width: 100%;
  margin-bottom: 20px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table {
  border-spacing: 2px;
  border-color: grey;
}
.table-odd tbody tr:nth-child(odd) td, .table-odd tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.table thead tr th, .table tbody tr th, .table tfoot tr th, .table thead tr td, .table tbody tr td, .table tfoot tr td {
  padding: 8px;
  line-height: 3.428571;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

th {
    text-align: left;
}
a {
    color: #0072BC;
}
a {
    color: #841871;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.pagination {
    display: inline;
    width: 420px;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination li {
    display: inline;
}

.pagination li:first-child a {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.pagination .disabled a, .pagination .disabled a:hover, .pagination .disabled a:focus {
    color: #999;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}
ul li a {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #841871;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}
.pagination .active a, .pagination .active a:hover, .pagination .active a:focus {
    z-index: 2;
    color: #fff;
    background-color: #841871;
    border-color: #841871;
    cursor: default;
}
tr:hover {

  background-color: rgba(86, 46, 79, 0.24);

}
tr.no-hover:hover {
  background-color: transparent;
}
th,
td { text-align: center;}

.container {
  width: 990px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.form-input {
    display: inline;
    width: 63px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
