<div class="padd-15 container" ng-controller="HomeController">
  <h1>{{title}}</h1>
  <table class="table table-odd table-hover">
    <thead>
      <tr>
        <th>Recebido em<a ng-click="sortBy('createdDate')"><i class="fa fa-sort marg-l-5"></i></a></th>
        <th>Ocorrio em<a ng-click="sortBy('ocurrenceDate')"><i class="fa fa-sort marg-l-5"></i></a></th>
        <th>Descrição<a ng-click="sortBy('description')"><i class="fa fa-sort marg-l-5"></i></a></th>
        <th>Sistema de Origem<a ng-click="sortBy('system')"><i class="fa fa-sort marg-l-5"></i></a></th>
        <th>Visualizado<a ng-click="sortBy('assigned')"><i class="fa fa-sort marg-l-5"></i></a></th>
      </tr>
    </thead>
    <tfoot>
      <tr class="no-hover">
        <td colspan="6">
          <div class="pagination pull-right">
            <span>Linhas por pg.</span>
            <select class="form-input marg-t-14 marg-b-14" ng-model="itemsPerPage" ng-change="perPage()" ng-options="(size) for size in pageSizes"></select>
            <ul class="pull-right">
              <li ng-class="{disabled: currentPage == 0}">
                <a href ng-click="prevPage()">« Ant</a>
              </li>
              <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                <a href ng-bind="n + 1">1</a>
              </li>
              <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                <a href ng-click="nextPage()">Próx »</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
        <td>{{item.createdDate | date:"dd/MM/yyyy 'at' h:mma"}}</td>
        <td>{{item.ocurrenceDate | date:"dd/MM/yyyy 'at' h:mma"}}</td>
        <td>{{item.description}}</td>
        <td>{{item.system}}</td>
        <td>
          <span ng-if="item.assigned">
            <i class="fa fa-eye" aria-hidden="true" title="Visualizado"></i>
          </span>
          <span ng-if="!item.assigned">
              <i class="fa fa-eye-slash" aria-hidden="true" title="Não visualizado"></i>
            </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
