<div class="padd-15" ng-controller="HomeController">
  <h1>{{title}}</h1>
  <table class="table table-striped table-condensed table-hover">
    <thead>
      <tr>
        <th class="">Recebido em<a ng-click="sort_by('createdDate')"><i class="icon-sort marg-l-5"></i></a></th>
        <th class="">Ocorrio em<a ng-click="sort_by('ocurrenceDate')"><i class="icon-sort marg-l-5"></i></a></th>
        <th class="">Descrição<a ng-click="sort_by('description')"><i class="icon-sort marg-l-5"></i></a></th>
        <th class="">Sistema de Origem<a ng-click="sort_by('system')"><i class="icon-sort marg-l-5"></i></a></th>
        <th class="">Visualizado<a ng-click="sort_by('assigned')"><i class="icon-sort marg-l-5"></i></a></th>
      </tr>
    </thead>
    <tfoot>
      <td colspan="6">
        <div class="pagination pull-right">
          <ul>
            <li ng-class="{disabled: currentPage == 0}">
              <a href ng-click="prevPage()">« Prev</a>
            </li>
            <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
              <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
              <a href ng-click="nextPage()">Next »</a>
            </li>
          </ul>
        </div>
      </td>
    </tfoot>
    <tbody>
      <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
        <td>{{item.createdDate | date:"dd/MM/yyyy 'at' h:mma"}}</td>
        <td>{{item.ocurrenceDate | date:"dd/MM/yyyy 'at' h:mma"}}</td>
        <td>{{item.description}}</td>
        <td>{{item.system}}</td>
        <td><input type="checkbox" checklist-value="item.assigned"></td>
      </tr>
    </tbody>
  </table>
</div>
